<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Editing Article</h1>
    <nav class="breadcrumbs">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-row-reverse">
            <div class="p-2">
              <%= link_to 'Destroy', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
            <div class="p-2">
              <%= link_to 'Back', article_path(@article) %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<%= render "form", article: @article %>
