<div class="container section-title aos-init aos-animate" data-aos="fade-up">
  <h3>Editing Author</h3>
</div>

<div class="container aos-init aos-animate" data-aos="fade-up">
  <%= render partial: "form", locals: { author: @author } %> 
</div>

