<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Authors</h1>
    <nav class="breadcrumbs">
      <%= link_to "Register", new_author_path %>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<section id="team-section" class="team-section section">
  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-5">
      <% @authors.each do |autor| %>
      <% end %>
    </div>

  </div>
</div>